<div class="container pt-5">
  <form #editForm="ngForm" (ngSubmit)="updateSubcategory()" class="pt-2">
      <p>Edit {{subcategory.name}}</p>
  
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name"
        [(ngModel)]="subcategory.name">
    </div> 
    <div class="form-group">
      <label for="category">Categpry</label>
      <select class="form-control" id="category" [(ngModel)]="subcategory.categoryId" name="categoryId">
        <option *ngFor="let category of categories" [(ngValue)]="category.id" > {{category.name}}</option> 
      </select>
  </div>
  </form>
        <button (click)="updateSubcategory()" [disabled]="!editForm.dirty" class="btn btn-md btn-success">Save</button>
        <button (click)="goBack()" class="btn btn-md btn-danger ml-2">Cancel</button>
  </div>