<div class="container mt-5">
  <div class="row pt-5" *ngIf="!divProduct">
    <div class="col-md-12">
      <h4>Categories</h4>
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>Id</th>
              <th>Name</th>
              <th>Parent Category</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr *ngFor="let subcategory of subcategories">
                <td> {{subcategory.id}} </td>
                <td> {{subcategory.name}} </td>
                <td> {{subcategory.category.name}} </td>
                <td><button class="btn btn-primary btn-xs" data-title="Edit" [routerLink]="['/subcategory/edit/', subcategory.id]" >Edit</button></td>
                <td><button class="btn btn-danger btn-xs" data-title="Delete" [routerLink]="['/subcategory/delete/', subcategory.id]" >Delete</button></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <button class="btn btn-info btn-xs" [routerLink]="['/subcategory/add']"  >Add Subcategory</button>
    </div>    
</div>
