<div class="container mt-5">
  <div class="pt-2">
    <h4>Are you sure you want to delete this item "{{product.name}}"?</h4>
  <p> <strong>Name :</strong> {{product.name}}</p>
  <p> <strong>Description :</strong> {{product.detail}}</p>
  <p> <strong>Price :</strong>$ {{product.price.toFixed(2) }}</p>
  <p> <strong>Category :</strong> {{product.category.name}}</p>
  </div>
  <button class="btn btn-md btn-danger" (click)="deleteItem(product.id)">Delete</button>
  <button  class="btn btn-md btn-info ml-2" (click)="goBack()">Go back</button>
</div>
