<div class="container mt-5">
		<div class="pt-2">
		  <h4>Product {{product.name}}</h4>
		<p> <strong>Name :</strong> {{product.name}}</p>
		<p> <strong>Description :</strong> {{product.detail}}</p>
		<p> <strong>Price :</strong>$ {{product.price.toFixed(2) }}</p>
		<p> <strong>Category :</strong> {{product.category.name}}</p>
	</div>
</div>
		  