<div class="container mt-5">
  <div class="col-md-12 col-sm-12 pt-3">
      <h4>New Product</h4>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>Name</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid':f.name.errors && f.name.touched}" />
              <div class="invalid-feedback">
                  Name is required and must be greater than 4 characters 
              </div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary">Save</button>
              <button class="btn btn-danger ml-2" (click)="goBack()" >Cancel</button>
          </div>
      </form>
  </div>
  </div>