<div class="container pt-5">
<form #editForm="ngForm" (ngSubmit)="updateProduct()" class="pt-2">
    <p>Edit {{product.name}}</p>

  <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name"
      [(ngModel)]="product.name">
  </div>
  <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="detail" [(ngModel)]="product.detail" name="detail">
  </div>
  <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price">
  </div>
  <div class="form-group">
      <label for="category">Categpry</label>
      <select class="form-control" id="category" [(ngModel)]="product.categoryId" name="categoryId">
        <option *ngFor="let category of categories" [(ngValue)]="category.id" > {{category.name}}</option> 
      </select>
  </div>
      <button [disabled]="!editForm.dirty" class="btn btn-md btn-success">Save</button>
      <button  class="btn btn-md btn-danger ml-2">Cancel</button>
</form>
</div>