<div class="product-item">
  <div class="pi-img-wrapper">
    <img src="https://pngimage.net/wp-content/uploads/2018/06/product-png.png" class="img-fluid" alt="Berry Lace Dress">
  </div>
    <h3><a href="">{{product.name}}</a></h3>
    <div class="pi-price">$ {{product.price.toFixed(2)}}</div>
    <a href="javascript:;" class="btn add2cart" >Delete</a>
    <a href="javascript:;" class="btn detail mr-1">Detail</a>
    <a href="javascript:;" class="btn edit mr-1" [routerLink]="['/product/edit/', product.id]">Edit</a>
</div>
