<div class="container mt-5">
  <div class="pt-2">
    <h4>Are you sure you want to delete this register "{{category.name}}"?</h4>
  <p> <strong>Name :</strong> {{category.name}}</p>
  </div>
  <button class="btn btn-md btn-danger" (click)="deleteItem(category.id)">Delete</button>
  <button  class="btn btn-md btn-info ml-2" (click)="goBack()">Go back</button>
</div>