<div class="container mt-5">
<div class="col-md-12 col-sm-12 pt-3">
    <h4>New Product</h4>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid':f.name.errors && f.name.touched}" />
            <div class="invalid-feedback">
                Name is required and must be greater than 4 characters 
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" formControlName="detail" class="form-control" [ngClass]="{ 'is-invalid': f.detail.errors && f.detail.touched}" />
            <div class="invalid-feedback">
                Description is required
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Category</label>
            <select formControlName="categoryId" name="categoryId" class="form-control" [ngClass]="{ 'is-invalid': f.categoryId.errors && f.categoryId.touched }">
              <option *ngFor="let category of categories" [value]="category.id"> {{ category.name }} </option>
            </select>
            <div class="invalid-feedback">
                Category is required
            </div>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" formControlName="price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" [ngClass]="{ 'is-invalid': f.price.errors && f.price.touched }" />
            <div class="invalid-feedback">
                Price is required
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-danger ml-2" (click)="cancelAddProduct()" >Cancel</button>
        </div>
    </form>
</div>
</div>