<div class="container pt-5">
  <form #editForm="ngForm" (ngSubmit)="updateCategory()" class="pt-2">
      <p>Edit {{category.name}}</p>
  
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name"
        [(ngModel)]="category.name">
    </div> 
  </form>
        <button (click)="updateCategory()" [disabled]="!editForm.dirty" class="btn btn-md btn-success">Save</button>
        <button (click)="goBack()" class="btn btn-md btn-danger ml-2">Cancel</button>
  </div>