<div class="container mt-5">
    <div class="row pt-5">
        <form #form="ngForm" (ngSubmit)="loadProducts()">
          
            <div class="form-row justify-content-center">
              <div class="col">
                <input type="text" class="form-control" [(ngModel)]="userParams.search" name="Search"
                  placeholder="Search...">
              </div>
              <div class="col">
                  <button class="btn btn-info btn-xs" >Search</button>
              </div>
            </div>
          </form>
      <div class="col-md-12">
        <h4>Products</h4>
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                <th  style="cursor: pointer;" (click)="order('id')" >
                    <a>Id
                      <fa-icon  *ngIf="userParams.orderBy === 'id' && userParams.order === 'ASC'" class="ml-2" [icon]="['fas', 'arrow-circle-up']" size="xs"></fa-icon>
                      <fa-icon  *ngIf="userParams.orderBy === 'id' && userParams.order === 'DESC'" class="ml-2" [icon]="['fas', 'arrow-circle-down']" size="xs"></fa-icon>
                    </a>
                </th>
                <th style="cursor: pointer;"  (click)="order('name')">Name
                    <fa-icon  *ngIf="userParams.orderBy === 'name' && userParams.order === 'ASC'" class="ml-2" [icon]="['fas', 'arrow-circle-up']" size="xs"></fa-icon>
                    <fa-icon  *ngIf="userParams.orderBy === 'name' && userParams.order === 'DESC'" class="ml-2" [icon]="['fas', 'arrow-circle-down']" size="xs"></fa-icon>
                </th>
                <th style="cursor: pointer;"  (click)="order('detail')">Detail
                    <fa-icon  *ngIf="userParams.orderBy === 'detail' && userParams.order === 'ASC'" class="ml-2" [icon]="['fas', 'arrow-circle-up']" size="xs"></fa-icon>
                    <fa-icon  *ngIf="userParams.orderBy === 'detail' && userParams.order === 'DESC'" class="ml-2" [icon]="['fas', 'arrow-circle-down']" size="xs"></fa-icon>
                </th>
                <th style="cursor: pointer;"  (click)="order('category')">Category 
                    <fa-icon  *ngIf="userParams.orderBy === 'category' && userParams.order === 'ASC'" class="ml-2" [icon]="['fas', 'arrow-circle-up']" size="xs"></fa-icon>
                    <fa-icon  *ngIf="userParams.orderBy === 'category' && userParams.order === 'DESC'" class="ml-2" [icon]="['fas', 'arrow-circle-down']" size="xs"></fa-icon>
                </th>
                <th>Edit</th>
                <th>Delete</th>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td> {{product.id}} </td>
                  <td> {{product.name}} </td>
                  <td> {{product.detail}} </td>
                  <td> {{product.category.name}} </td>
                  <td><button class="btn btn-primary btn-xs" data-title="Edit" [routerLink]="['/product/edit/', product.id]" >Edit</button></td>
                  <td><button class="btn btn-danger btn-xs" data-title="Delete" [routerLink]="['/product/delete/', product.id]" >Delete</button></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <button class="btn btn-info btn-xs" [routerLink]="['/product/']"  >Add Product</button>
      </div>
      <div class="row" *ngIf="divProduct">
        <app-product (cancelAdd)="cancelAddProduct($event)"></app-product>
      </div>
      
  </div>
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="false" [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>


<!-- <button class="btn btn-info btn-xs" (click)="addProduct()" *ngIf="!divProduct" >Add Product</button>
<td><button class="btn btn-info btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" [routerLink]="['/product/', product.id]" >Detail</button></td>
<td><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Edit</button></td>
<td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >Delete</button></td> -->